<!DOCTYPE HTML>
<html lang="en">

<head>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>



<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:2.5%;width:60%;vertical-align:middle">
              <h1>
                Simin Liu
              </h1>
              <!-- <p>
                I am a PhD student at the <a href="https://www.ri.cmu.edu/">Robotics Institute</a>, which is part of the School of Computer Science at Carnegie Mellon University. I work on safe and adaptive robotics with my advisors, <a href="https://scholar.google.com/citations?user=xLk_w7kAAAAJ&hl=en&oi=ao">John Dolan</a> and <a href="https://scholar.google.com/citations?user=vvzAfOwAAAAJ&hl=en&oi=ao">Changliu Liu</a>. Specifically, I work on controls and planning. At CMU, I have also worked on machine learning for mathematics.
              </p> -->
              <p>
                I'm a fourth year PhD student at CMU's Robotics Institute. I work on reactive safe control and motion planning, with application to robotic manipulators and drones. In general, my goal is to create safe, useful robots. I'm grateful to be advised by Changliu Liu and John Dolan and supported by the Qualcomm Innovation Fellowship. 
              </p>
              <p>
                Before my PhD, I received my BS with high honors in EECS and Math at UC Berkeley. There, I did research with Sergey Levine on adaptive control for legged locomotion.
              </p>
              <!-- <p>
                Before starting my PhD, I received a bachelor’s with high honors in EECS and Math at UC Berkeley. There, I did research with <a href="https://scholar.google.com/citations?user=8R35rCwAAAAJ&hl=en&oi=ao">Sergey Levine</a> on deep reinforcement learning for robotics.
              </p> -->
              <p style="color: red">
                I'm currently looking for internships for summer 2024. Please reach out if you have any leads!
              </p>
              <p>
                Email me at siminliu at andrew dot cmu dot edu
              </p>
              <p style="text-align:center">
<!--                <a target="_blank" href="https://mailhide.io/e/kmvsVAkz"> Email</a> /-->
                <a href="pdfs/Simin_Liu_resume_12_05.pdf"> CV </a> /
                <a href="https://scholar.google.com/citations?user=E0FlukAAAAAJ&hl=en">Google Scholar</a> /
                <a href="https://github.com/sliu2019">GitHub</a> /
                <a href="https://www.linkedin.com/in/simin-liu-814ba6122">LinkedIn</a>
              </p>
            </td>
            <td style="padding:2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/simin_circle_crop_profile.png">
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h2>Research</h2>
              <!-- <p>
                My research topics are controls, planning, modeling, and estimation for robotics. I apply machine learning and optimization.
              </p> -->
            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">

          {% for post in site.posts %}
          {% for cat in post.categories %}
          {% if cat == 'research' %}
          <tr>
            <td style="padding:2.5%;width:25%;vertical-align:middle;min-width:120px">
              <img src="/tn{{post.image}}" alt="project image" style="width:auto; height:auto; max-width:100%;" />
            </td>
            <td style="padding:2.5%;width:75%;vertical-align:middle">
              <h3>{{post.title}}</h3>
              <br>
              {{post.authors}}
              <br>
              {% if post.layout == 'post' %}
              <em>{{post.venue}}</em>, {{ post.date | date: "%Y" }}
              {% endif %}
              {% if post.layout == 'preprint' %}
              <em>{{post.venue}}</em>
              {% endif %}
              <br>
              {% if post.website %}
              <a href="{{post.website}}">website</a> /
              {% endif %}
              {% if post.arxiv %}
              <a href="{{post.arxiv}}">arxiv</a> /
              {% endif %}
              {% if post.video %}
              <a href="{{post.video}}">video</a> /
              {% endif %}
              {% if post.code %}
              <a href="{{post.code}}">code</a> /
              {% endif %}
              {% if post.poster %}
              <a href="{{post.poster}}">poster</a> /
              {% endif %}
              {% if post.slides %}
              <a href="{{post.slides}}">slides</a> /
              {% endif %}
              <p></p>
              {{ post.excerpt }}
            </td>
          </tr>
          {% endif %}
          {% endfor %}
          {% endfor %}
        </table>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:2.5%;width:100%;vertical-align:middle">
              <h3>Hobbies</h3><p>I like outdoor activities, <a href="https://flic.kr/s/aHBqjAhiHe">drawing</a>, ceramics, reading fiction, swimming, running.</p>
            </td>
          </tr>
        </table>
        <br>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://github.com/leonidk/new_website">Leo Keselman</a>
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>

